/* SCSS RGB */
$skobeloff: rgba(0, 100, 102, 1);
$midnight-green: rgba(6, 90, 96, 1);
$midnight-green-2: rgba(11, 82, 91, 1);
$midnight-green-3: rgba(20, 69, 82, 1);
$charcoal: rgba(27, 58, 75, 1);
$prussian-blue: rgba(33, 47, 69, 1);
$space-cadet: rgba(39, 38, 64, 1);
$dark-purple: rgba(49, 34, 68, 1);
$russian-violet: rgba(62, 31, 71, 1);
$russian-violet-2: rgba(77, 25, 77, 1);
