@charset "UTF-8";
@import "variables";

.imr {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;

  .navbar {
    background-color: $color-alias-background-tertiary;
    width: 100vw;
    height: 4rem;
    box-shadow: unset;
    border-bottom: 2px solid $color-alias-appframe-border;
  }

  .content-tabs {
    width: 100vw;
    height: calc(100vh - 6rem);
    padding-top: 0.5rem;

    .page-title {
      font-size: 1.5rem;
      margin: 0 3rem 0 1.5rem;
    }

    .tab-content {
      padding-top: 1rem;
      margin: 0 1rem;

      .tab-pane {
        width: 100%;
        height: calc(100vh - 11rem);
        scrollbar-width: thin;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }

  .bottombar {
    height: $dimension-alias-single-line-height;
    width: calc(100vw - 4px);
    position: fixed;
    bottom: 0;
    left: 2px;
    overflow: hidden;
    z-index: 1001;
    background: linear-gradient(to right, $skobeloff, $russian-violet-2);

    padding: 0.25rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0.25rem 0.25rem 0 0;

    .bar-item {
      color: $color-alias-background-default;
      font-size: 11px;
      padding-left: 1.5rem;
      line-height: 1;
      letter-spacing: 0.5px;
    }
    .bar-toggle {
      color: $color-alias-background-default;
      margin: 0 auto 0 0;
    }
  }
}
