
  $color-alias-background-default: $color-global-gray-100;
  $color-alias-background-disabled: $color-global-gray-200;
  $color-alias-background-transparent: transparent;
  $color-alias-background-over-background-down: rgba(255,255,255,0.2);
  $color-alias-background-quickactions-overlay: rgba(0,0,0,0.2);
  $color-alias-placeholder-text: $color-global-gray-800;
  $color-alias-placeholder-text-hover: $color-global-gray-900;
  $color-alias-placeholder-text-down: $color-global-gray-900;
  $color-alias-placeholder-text-selected: $color-global-gray-800;
  $color-alias-label-text: $color-global-gray-700;
  $color-alias-text: $color-global-gray-800;
  $color-alias-text-hover: $color-global-gray-900;
  $color-alias-text-down: $color-global-gray-900;
  $color-alias-text-key-focus: $color-global-blue-600;
  $color-alias-text-mouse-focus: $color-global-blue-600;
  $color-alias-text-disabled: $color-global-gray-500;
  $color-alias-text-invalid: $color-global-red-500;
  $color-alias-text-selected: $color-global-blue-600;
  $color-alias-text-selected-neutral: $color-global-gray-900;
  $color-alias-text-over-background: $color-global-static-white;
  $color-alias-text-over-background-disabled: rgba(255,255,255,0.2);
  $color-alias-heading-text: $color-global-gray-900;
  $color-alias-border: $color-global-gray-400;
  $color-alias-border-hover: $color-global-gray-500;
  $color-alias-border-down: $color-global-gray-500;
  $color-alias-border-focus: $color-global-blue-400;
  $color-alias-border-mouse-focus: $color-global-blue-500;
  $color-alias-border-disabled: $color-global-gray-200;
  $color-alias-border-extralight: $color-global-gray-100;
  $color-alias-border-light: $color-global-gray-200;
  $color-alias-border-mid: $color-global-gray-300;
  $color-alias-border-dark: $color-global-gray-400;
  $color-alias-border-darker-default: $color-global-gray-600;
  $color-alias-border-darker-hover: $color-global-gray-900;
  $color-alias-border-darker-down: $color-global-gray-900;
  $color-alias-border-transparent: transparent;
  $color-alias-border-translucent-dark: rgba(0,0,0,0.05);
  $color-alias-border-translucent-darker: rgba(0,0,0,0.1);
  $color-alias-focus: $color-global-blue-400;
  $color-alias-focus-ring: $color-alias-focus;
  $color-alias-track-default: $color-global-gray-300;
  $color-alias-track-disabled: $color-global-gray-300;
  $color-alias-track-over-background: rgba(255,255,255,0.2);
  $color-alias-icon: $color-global-gray-700;
  $color-alias-icon-over-background: $color-global-static-white;
  $color-alias-icon-hover: $color-global-gray-900;
  $color-alias-icon-down: $color-global-gray-900;
  $color-alias-icon-focus: $color-global-gray-900;
  $color-alias-icon-disabled: $color-global-gray-400;
  $color-alias-icon-over-background-disabled: rgba(255,255,255,0.2);
  $color-alias-icon-selected-neutral: $color-global-gray-900;
  $color-alias-icon-selected: $color-global-blue-500;
  $color-alias-icon-selected-hover: $color-global-blue-600;
  $color-alias-icon-selected-down: $color-global-blue-700;
  $color-alias-icon-selected-focus: $color-global-blue-600;
  $color-alias-image-opacity-disabled: $color-global-opacity-30;
  $color-alias-toolbar-background: $color-global-gray-100;
  $color-aliashandle-outer-border: rgba(0,0,0,0.42);
  $color-alias-code-highlight-default: $color-global-gray-800;
  $color-alias-code-highlight-background: $color-global-gray-75;
  $color-alias-code-highlight-keyword: $color-global-fuchsia-600;
  $color-alias-code-highlight-section: $color-global-red-600;
  $color-alias-code-highlight-literal: $color-global-blue-600;
  $color-alias-code-highlight-attribute: $color-global-seafoam-600;
  $color-alias-code-highlight-class: $color-global-magenta-600;
  $color-alias-code-highlight-variable: $color-global-purple-600;
  $color-alias-code-highlight-title: $color-global-indigo-600;
  $color-alias-code-highlight-string: $color-global-fuchsia-600;
  $color-alias-code-highlight-function: $color-global-blue-600;
  $color-alias-code-highlight-comment: $color-global-gray-700;
  $color-alias-categorical-1: $color-global-static-seafoam-200;
  $color-alias-categorical-2: $color-global-static-indigo-700;
  $color-alias-categorical-3: $color-global-static-orange-500;
  $color-alias-categorical-4: $color-global-static-magenta-500;
  $color-alias-categorical-5: $color-global-static-indigo-200;
  $color-alias-categorical-6: $color-global-static-celery-200;
  $color-alias-categorical-7: $color-global-static-blue-500;
  $color-alias-categorical-8: $color-global-static-purple-800;
  $color-alias-categorical-9: $color-global-static-yellow-500;
  $color-alias-categorical-10: $color-global-static-orange-700;
  $color-alias-categorical-11: $color-global-static-green-600;
  $color-alias-categorical-12: $color-global-static-chartreuse-300;
  $color-alias-categorical-13: $color-global-static-blue-200;
  $color-alias-categorical-14: $color-global-static-fuchsia-500;
  $color-alias-categorical-15: $color-global-static-magenta-200;
  $color-alias-categorical-16: $color-global-static-yellow-200;

