
  $color-semantic-negative-background: $color-global-static-red-700;
  $color-semantic-negative-default: $color-global-red-500;
  $color-semantic-negative-state-hover: $color-global-red-600;
  $color-semantic-negative-dark: $color-global-red-600;
  $color-semantic-negative-border: $color-global-red-400;
  $color-semantic-negative-icon: $color-global-red-600;
  $color-semantic-negative-status: $color-global-red-400;
  $color-semantic-negative-text-large: $color-global-red-500;
  $color-semantic-negative-text-small: $color-global-red-600;
  $color-semantic-negative-state-down: $color-global-red-700;
  $color-semantic-negative-state-focus: $color-global-red-400;
  $color-semantic-negative-background-default: $color-global-static-red-600;
  $color-semantic-negative-background-hover: $color-global-static-red-700;
  $color-semantic-negative-background-down: $color-global-static-red-800;
  $color-semantic-negative-background-key-focus: $color-global-static-red-700;
  $color-semantic-notice-background: $color-global-static-orange-700;
  $color-semantic-notice-default: $color-global-orange-500;
  $color-semantic-notice-dark: $color-global-orange-600;
  $color-semantic-notice-border: $color-global-orange-400;
  $color-semantic-notice-icon: $color-global-orange-600;
  $color-semantic-notice-status: $color-global-orange-400;
  $color-semantic-notice-text-large: $color-global-orange-500;
  $color-semantic-notice-text-small: $color-global-orange-600;
  $color-semantic-notice-state-down: $color-global-orange-700;
  $color-semantic-notice-state-focus: $color-global-orange-400;
  $color-semantic-notice-background-default: $color-global-static-orange-600;
  $color-semantic-notice-background-hover: $color-global-static-orange-700;
  $color-semantic-notice-background-down: $color-global-static-orange-800;
  $color-semantic-notice-background-key-focus: $color-global-static-orange-700;
  $color-semantic-positive-background: $color-global-static-green-700;
  $color-semantic-positive-default: $color-global-green-500;
  $color-semantic-positive-dark: $color-global-green-600;
  $color-semantic-positive-border: $color-global-green-400;
  $color-semantic-positive-icon: $color-global-green-600;
  $color-semantic-positive-status: $color-global-green-400;
  $color-semantic-positive-text-large: $color-global-green-500;
  $color-semantic-positive-text-small: $color-global-green-600;
  $color-semantic-positive-state-down: $color-global-green-700;
  $color-semantic-positive-state-focus: $color-global-green-400;
  $color-semantic-positive-background-default: $color-global-static-green-600;
  $color-semantic-positive-background-hover: $color-global-static-green-700;
  $color-semantic-positive-background-down: $color-global-static-green-800;
  $color-semantic-positive-background-key-focus: $color-global-static-green-700;
  $color-semantic-informative-background: $color-global-static-blue-700;
  $color-semantic-informative-default: $color-global-blue-500;
  $color-semantic-informative-dark: $color-global-blue-600;
  $color-semantic-informative-border: $color-global-blue-400;
  $color-semantic-informative-icon: $color-global-blue-600;
  $color-semantic-informative-status: $color-global-blue-400;
  $color-semantic-informative-text-large: $color-global-blue-500;
  $color-semantic-informative-text-small: $color-global-blue-600;
  $color-semantic-informative-state-down: $color-global-blue-700;
  $color-semantic-informative-state-focus: $color-global-blue-400;
  $color-semantic-informative-background-default: $color-global-static-blue-600;
  $color-semantic-informative-background-hover: $color-global-static-blue-700;
  $color-semantic-informative-background-down: $color-global-static-blue-800;
  $color-semantic-informative-background-key-focus: $color-global-static-blue-700;
  $color-semantic-cta-background-default: $color-global-static-blue-600;
  $color-semantic-cta-background-hover: $color-global-static-blue-700;
  $color-semantic-cta-background-down: $color-global-static-blue-800;
  $color-semantic-cta-background-key-focus: $color-global-static-blue-600;
  $color-semantic-neutral-background-default: $color-global-static-gray-700;
  $color-semantic-neutral-background-hover: $color-global-static-gray-800;
  $color-semantic-neutral-background-down: $color-global-static-gray-900;
  $color-semantic-neutral-background-key-focus: $color-global-static-gray-800;
  $color-semantic-presence-1: $color-global-static-red-500;
  $color-semantic-presence-2: $color-global-static-orange-400;
  $color-semantic-presence-3: $color-global-static-yellow-400;
  $color-semantic-presence-4: rgb(75, 204, 162);
  $color-semantic-presence-5: rgb(0, 199, 255);
  $color-semantic-presence-6: rgb(0, 140, 184);
  $color-semantic-presence-7: rgb(126, 75, 243);
  $color-semantic-presence-8: $color-global-static-fuchsia-600;
