$dimension-alias-dropshadow-blur: $dimension-global-size-50;
$dimension-alias-dropshadow-offset-y: $dimension-global-size-10;
$dimension-alias-font-size-default: $dimension-global-font-size-100;
$dimension-alias-layout-label-gap-size: $dimension-global-size-100;
$dimension-alias-pill-button-text-size: $dimension-global-font-size-100;
$dimension-alias-pill-button-text-baseline: $dimension-global-static-size-150;
$dimension-alias-border-radius-xsmall: $dimension-global-size-10;
$dimension-alias-border-radius-small: $dimension-global-size-25;
$dimension-alias-border-radius-regular: $dimension-global-size-50;
$dimension-alias-border-radius-medium: $dimension-global-size-100;
$dimension-alias-border-radius-large: $dimension-global-size-200;
$dimension-alias-single-line-height: $dimension-global-size-400;
$dimension-alias-single-line-width: $dimension-global-size-2400;
$dimension-alias-item-height-s: $dimension-global-size-300;
$dimension-alias-item-height-m: $dimension-global-size-400;
$dimension-alias-item-height-l: $dimension-global-size-500;
$dimension-alias-item-height-xl: $dimension-global-size-600;
$dimension-alias-item-rounded-border-radius-s: $dimension-global-size-150;
$dimension-alias-item-rounded-border-radius-m: $dimension-global-size-200;
$dimension-alias-item-rounded-border-radius-l: $dimension-global-size-250;
$dimension-alias-item-rounded-border-radius-xl: $dimension-global-size-300;
$dimension-alias-item-text-size-s: $dimension-global-font-size-75;
$dimension-alias-item-text-size-m: $dimension-global-font-size-100;
$dimension-alias-item-text-size-l: $dimension-global-font-size-200;
$dimension-alias-item-text-size-xl: $dimension-global-font-size-300;
$dimension-alias-item-text-padding-top-s: $dimension-global-static-size-50;
$dimension-alias-item-text-padding-top-m: $dimension-global-size-75;
$dimension-alias-item-text-padding-top-xl: $dimension-global-size-150;
$dimension-alias-item-text-padding-bottom-m: $dimension-global-size-115;
$dimension-alias-item-text-padding-bottom-l: $dimension-global-size-130;
$dimension-alias-item-text-padding-bottom-xl: $dimension-global-size-175;
$dimension-alias-item-icon-padding-top-s: $dimension-global-size-50;
$dimension-alias-item-icon-padding-top-m: $dimension-global-size-85;
$dimension-alias-item-icon-padding-top-l: $dimension-global-size-125;
$dimension-alias-item-icon-padding-top-xl: $dimension-global-size-160;
$dimension-alias-item-icon-padding-bottom-s: $dimension-global-size-50;
$dimension-alias-item-icon-padding-bottom-m: $dimension-global-size-85;
$dimension-alias-item-icon-padding-bottom-l: $dimension-global-size-125;
$dimension-alias-item-icon-padding-bottom-xl: $dimension-global-size-160;
$dimension-alias-item-mark-padding-top-s: $dimension-global-size-40;
$dimension-alias-item-mark-padding-top-l: $dimension-global-size-115;
$dimension-alias-item-mark-padding-top-xl: $dimension-global-size-130;
$dimension-alias-item-mark-padding-bottom-s: $dimension-global-size-40;
$dimension-alias-item-mark-padding-bottom-l: $dimension-global-size-115;
$dimension-alias-item-mark-padding-bottom-xl: $dimension-global-size-130;
$dimension-alias-item-padding-s: $dimension-global-size-115;
$dimension-alias-item-padding-m: $dimension-global-size-150;
$dimension-alias-item-padding-l: $dimension-global-size-185;
$dimension-alias-item-padding-xl: $dimension-global-size-225;
$dimension-alias-item-rounded-padding-s: $dimension-global-size-150;
$dimension-alias-item-rounded-padding-m: $dimension-global-size-200;
$dimension-alias-item-rounded-padding-l: $dimension-global-size-250;
$dimension-alias-item-rounded-padding-xl: $dimension-global-size-300;
$dimension-alias-item-icononly-padding-s: $dimension-global-size-50;
$dimension-alias-item-icononly-padding-m: $dimension-global-size-85;
$dimension-alias-item-icononly-padding-l: $dimension-global-size-125;
$dimension-alias-item-icononly-padding-xl: $dimension-global-size-160;
$dimension-alias-item-workflow-padding-left-s: $dimension-global-size-85;
$dimension-alias-item-workflow-padding-left-l: $dimension-global-size-160;
$dimension-alias-item-workflow-padding-left-xl: $dimension-global-size-185;
$dimension-alias-item-rounded-workflow-padding-left-s: $dimension-global-size-125;
$dimension-alias-item-rounded-workflow-padding-left-l: $dimension-global-size-225;
$dimension-alias-item-mark-padding-left-s: $dimension-global-size-85;
$dimension-alias-item-mark-padding-left-l: $dimension-global-size-160;
$dimension-alias-item-mark-padding-left-xl: $dimension-global-size-185;
$dimension-alias-item-control-1-size-s: $dimension-global-static-size-100;
$dimension-alias-item-control-1-size-m: $dimension-global-size-100;
$dimension-alias-item-control-2-size-m: $dimension-global-size-175;
$dimension-alias-item-control-2-size-l: $dimension-global-size-200;
$dimension-alias-item-control-2-size-xl: $dimension-global-size-225;
$dimension-alias-item-control-2-size-xxl: $dimension-global-size-250;
$dimension-alias-item-control-3-height-m: $dimension-global-size-175;
$dimension-alias-item-control-3-height-l: $dimension-global-size-200;
$dimension-alias-item-control-3-height-xl: $dimension-global-size-225;
$dimension-alias-item-mark-size-s: $dimension-global-size-225;
$dimension-alias-item-mark-size-l: $dimension-global-size-275;
$dimension-alias-item-mark-size-xl: $dimension-global-size-325;
$dimension-alias-workflow-icon-size-s: $dimension-global-size-200;
$dimension-alias-workflow-icon-size-m: $dimension-global-size-225;
$dimension-alias-workflow-icon-size-xl: $dimension-global-size-275;
$dimension-alias-ui-icon-alert-size-75: $dimension-global-size-200;
$dimension-alias-ui-icon-alert-size-100: $dimension-global-size-225;
$dimension-alias-ui-icon-alert-size-200: $dimension-global-size-250;
$dimension-alias-ui-icon-alert-size-300: $dimension-global-size-275;
$dimension-alias-ui-icon-triplegripper-size-100-height: $dimension-global-size-100;
$dimension-alias-ui-icon-doublegripper-size-100-width: $dimension-global-size-200;
$dimension-alias-ui-icon-singlegripper-size-100-width: $dimension-global-size-300;
$dimension-alias-ui-icon-cornertriangle-size-75: $dimension-global-size-65;
$dimension-alias-ui-icon-cornertriangle-size-200: $dimension-global-size-75;
$dimension-alias-ui-icon-asterisk-size-75: $dimension-global-static-size-100;
$dimension-alias-ui-icon-asterisk-size-100: $dimension-global-size-100;
$dimension-alias-item-control-gap-s: $dimension-global-size-115;
$dimension-alias-item-control-gap-m: $dimension-global-size-125;
$dimension-alias-item-control-gap-l: $dimension-global-size-130;
$dimension-alias-item-control-gap-xl: $dimension-global-size-160;
$dimension-alias-item-workflow-icon-gap-s: $dimension-global-size-85;
$dimension-alias-item-workflow-icon-gap-m: $dimension-global-size-100;
$dimension-alias-item-workflow-icon-gap-l: $dimension-global-size-115;
$dimension-alias-item-workflow-icon-gap-xl: $dimension-global-size-125;
$dimension-alias-item-mark-gap-s: $dimension-global-size-85;
$dimension-alias-item-mark-gap-m: $dimension-global-size-100;
$dimension-alias-item-mark-gap-l: $dimension-global-size-115;
$dimension-alias-item-mark-gap-xl: $dimension-global-size-125;
$dimension-alias-item-ui-icon-gap-s: $dimension-global-size-85;
$dimension-alias-item-ui-icon-gap-m: $dimension-global-size-100;
$dimension-alias-item-ui-icon-gap-l: $dimension-global-size-115;
$dimension-alias-item-ui-icon-gap-xl: $dimension-global-size-125;
$dimension-alias-item-clearbutton-gap-s: $dimension-global-size-50;
$dimension-alias-item-clearbutton-gap-m: $dimension-global-size-85;
$dimension-alias-item-clearbutton-gap-l: $dimension-global-size-125;
$dimension-alias-item-clearbutton-gap-xl: $dimension-global-size-150;
$dimension-alias-heading-xxxl-text-size: $dimension-global-font-size-1300;
$dimension-alias-heading-han-xxxl-text-size: $dimension-global-font-size-1300;
$dimension-alias-heading-han-xxxl-margin-top: $dimension-global-font-size-1200;
$dimension-alias-heading-xxxl-margin-top: $dimension-global-font-size-1200;
$dimension-alias-heading-xxl-text-size: $dimension-global-font-size-1100;
$dimension-alias-heading-xxl-margin-top: $dimension-global-font-size-900;
$dimension-alias-heading-han-xxl-text-size: $dimension-global-font-size-900;
$dimension-alias-heading-han-xxl-margin-top: $dimension-global-font-size-800;
$dimension-alias-heading-xl-text-size: $dimension-global-font-size-900;
$dimension-alias-heading-xl-margin-top: $dimension-global-font-size-800;
$dimension-alias-heading-han-xl-text-size: $dimension-global-font-size-800;
$dimension-alias-heading-han-xl-margin-top: $dimension-global-font-size-700;
$dimension-alias-heading-l-text-size: $dimension-global-font-size-700;
$dimension-alias-heading-l-margin-top: $dimension-global-font-size-600;
$dimension-alias-heading-han-l-text-size: $dimension-global-font-size-600;
$dimension-alias-heading-han-l-margin-top: $dimension-global-font-size-500;
$dimension-alias-heading-m-text-size: $dimension-global-font-size-500;
$dimension-alias-heading-m-margin-top: $dimension-global-font-size-400;
$dimension-alias-heading-han-m-text-size: $dimension-global-font-size-400;
$dimension-alias-heading-han-m-margin-top: $dimension-global-font-size-300;
$dimension-alias-heading-s-text-size: $dimension-global-font-size-300;
$dimension-alias-heading-s-margin-top: $dimension-global-font-size-200;
$dimension-alias-heading-xs-text-size: $dimension-global-font-size-200;
$dimension-alias-heading-xs-margin-top: $dimension-global-font-size-100;
$dimension-alias-heading-xxs-text-size: $dimension-global-font-size-100;
$dimension-alias-heading-xxs-margin-top: $dimension-global-font-size-75;
$dimension-alias-avatar-size-50: $dimension-global-size-200;
$dimension-alias-avatar-size-75: $dimension-global-size-225;
$dimension-alias-avatar-size-200: $dimension-global-size-275;
$dimension-alias-avatar-size-300: $dimension-global-size-325;
$dimension-alias-avatar-size-500: $dimension-global-size-400;
$dimension-alias-avatar-size-700: $dimension-global-size-500;

