$dimension-global-static-size-0: 0px;
$dimension-global-static-size-10: 1px;
$dimension-global-static-size-25: 2px;
$dimension-global-static-size-40: 3px;
$dimension-global-static-size-50: 4px;
$dimension-global-static-size-65: 5px;
$dimension-global-static-size-75: 6px;
$dimension-global-static-size-85: 7px;
$dimension-global-static-size-100: 8px;
$dimension-global-static-size-115: 9px;
$dimension-global-static-size-125: 10px;
$dimension-global-static-size-130: 11px;
$dimension-global-static-size-150: 12px;
$dimension-global-static-size-160: 13px;
$dimension-global-static-size-175: 14px;
$dimension-global-static-size-200: 16px;
$dimension-global-static-size-225: 18px;
$dimension-global-static-size-250: 20px;
$dimension-global-static-size-275: 22px;
$dimension-global-static-size-300: 24px;
$dimension-global-static-size-325: 26px;
$dimension-global-static-size-400: 32px;
$dimension-global-static-size-450: 36px;
$dimension-global-static-size-500: 40px;
$dimension-global-static-size-550: 44px;
$dimension-global-static-size-600: 48px;
$dimension-global-static-size-700: 56px;
$dimension-global-static-size-800: 64px;
$dimension-global-static-size-900: 72px;
$dimension-global-static-size-1000: 80px;
$dimension-global-static-size-1200: 96px;
$dimension-global-static-size-1700: 136px;
$dimension-global-static-size-2400: 192px;
$dimension-global-static-size-2500: 200px;
$dimension-global-static-size-2600: 208px;
$dimension-global-static-size-2800: 224px;
$dimension-global-static-size-3200: 256px;
$dimension-global-static-size-3400: 272px;
$dimension-global-static-size-3500: 280px;
$dimension-global-static-size-3600: 288px;
$dimension-global-static-size-3800: 304px;
$dimension-global-static-size-4600: 368px;
$dimension-global-static-size-5000: 400px;
$dimension-global-static-size-6000: 480px;
$dimension-global-static-size-16000: 1280px;
$dimension-global-static-font-size-50: 11px;
$dimension-global-static-font-size-75: 12px;
$dimension-global-static-font-size-100: 14px;
$dimension-global-static-font-size-150: 15px;
$dimension-global-static-font-size-200: 16px;
$dimension-global-static-font-size-300: 18px;
$dimension-global-static-font-size-400: 20px;
$dimension-global-static-font-size-500: 22px;
$dimension-global-static-font-size-600: 25px;
$dimension-global-static-font-size-700: 28px;
$dimension-global-static-font-size-800: 32px;
$dimension-global-static-font-size-900: 36px;
$dimension-global-static-font-size-1000: 40px;
$dimension-global-static-percent-50: 50%;
$dimension-global-static-percent-100: 100%;
$dimension-global-static-breakpoint-xsmall: 304px;
$dimension-global-static-breakpoint-small: 768px;
$dimension-global-static-breakpoint-medium: 1280px;
$dimension-global-static-breakpoint-large: 1768px;
$dimension-global-static-breakpoint-xlarge: 2160px;
$dimension-global-static-grid-columns: 12;
$dimension-global-static-grid-fluid-width: 100%;
$dimension-global-static-grid-fixed-max-width: 1280px;

