$font-size-base: $dimension-alias-item-text-size-m;

$body-base-text-color: $color-alias-text;
$body-base-text-font-family: $font-global-family-base;
$body-base-text-font-style: $font-global-style-regular;
$body-base-text-font-weight: $font-global-weight-regular;
$body-base-text-line-height: $font-global-line-height-medium;
$body-base-text-letter-spacing: $font-global-letter-spacing-none;
$body-base-text-transform: none;
$body-base-margin-top: 0px;
$body-base-margin-bottom-multiplier: $dimension-global-size-100;
$body-l-text-color: $color-alias-text;
$body-l-text-font-family: $font-global-family-base;
$body-l-text-font-style: $font-global-style-regular;
$body-l-text-font-weight: $font-global-weight-regular;
$body-l-text-line-height: $font-global-line-height-medium;
$body-l-text-letter-spacing: $font-global-letter-spacing-none;
$body-l-text-transform: none;
$body-l-margin-top: 0px;
$body-l-margin-bottom-multiplier: $dimension-global-size-100;
$body-l-text-size: $dimension-global-font-size-300;
$body-l-margin-bottom: $dimension-global-size-160;
$body-l-emphasis-text-color: $color-alias-text;
$body-l-emphasis-text-font-family: $font-global-family-base;
$body-l-emphasis-text-font-style: $font-global-style-italic;
$body-l-emphasis-text-font-weight: $font-global-weight-regular;
$body-l-emphasis-text-line-height: $font-global-line-height-medium;
$body-l-emphasis-text-letter-spacing: $font-global-letter-spacing-none;
$body-l-emphasis-text-transform: none;
$body-l-emphasis-margin-top: 0px;
$body-l-emphasis-margin-bottom-multiplier: $dimension-global-size-100;
$body-l-emphasis-text-size: $dimension-global-font-size-300;
$body-l-emphasis-margin-bottom: $dimension-global-size-160;
$body-l-emphasis-strong-text-color: $color-alias-text;
$body-l-emphasis-strong-text-font-family: $font-global-family-base;
$body-l-emphasis-strong-text-font-style: $font-global-style-italic;
$body-l-emphasis-strong-text-font-weight: $font-global-weight-bold;
$body-l-emphasis-strong-text-line-height: $font-global-line-height-medium;
$body-l-emphasis-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-l-emphasis-strong-text-transform: none;
$body-l-emphasis-strong-margin-top: 0px;
$body-l-emphasis-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-l-emphasis-strong-text-size: $dimension-global-font-size-300;
$body-l-emphasis-strong-margin-bottom: $dimension-global-size-160;
$body-l-strong-text-color: $color-alias-text;
$body-l-strong-text-font-family: $font-global-family-base;
$body-l-strong-text-font-style: $font-global-style-regular;
$body-l-strong-text-font-weight: $font-global-weight-bold;
$body-l-strong-text-line-height: $font-global-line-height-medium;
$body-l-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-l-strong-text-transform: none;
$body-l-strong-margin-top: 0px;
$body-l-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-l-strong-text-size: $dimension-global-font-size-300;
$body-l-strong-margin-bottom: $dimension-global-size-160;
$body-m-text-color: $color-alias-text;
$body-m-text-font-family: $font-global-family-base;
$body-m-text-font-style: $font-global-style-regular;
$body-m-text-font-weight: $font-global-weight-regular;
$body-m-text-line-height: $font-global-line-height-medium;
$body-m-text-letter-spacing: $font-global-letter-spacing-none;
$body-m-text-transform: none;
$body-m-margin-top: 0px;
$body-m-margin-bottom-multiplier: $dimension-global-size-100;
$body-m-text-size: $dimension-global-font-size-200;
$body-m-margin-bottom: $dimension-global-size-150;
$body-m-emphasis-text-color: $color-alias-text;
$body-m-emphasis-text-font-family: $font-global-family-base;
$body-m-emphasis-text-font-style: $font-global-style-italic;
$body-m-emphasis-text-font-weight: $font-global-weight-regular;
$body-m-emphasis-text-line-height: $font-global-line-height-medium;
$body-m-emphasis-text-letter-spacing: $font-global-letter-spacing-none;
$body-m-emphasis-text-transform: none;
$body-m-emphasis-margin-top: 0px;
$body-m-emphasis-margin-bottom-multiplier: $dimension-global-size-100;
$body-m-emphasis-text-size: $dimension-global-font-size-200;
$body-m-emphasis-margin-bottom: $dimension-global-size-150;
$body-m-emphasis-strong-text-color: $color-alias-text;
$body-m-emphasis-strong-text-font-family: $font-global-family-base;
$body-m-emphasis-strong-text-font-style: $font-global-style-italic;
$body-m-emphasis-strong-text-font-weight: $font-global-weight-bold;
$body-m-emphasis-strong-text-line-height: $font-global-line-height-medium;
$body-m-emphasis-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-m-emphasis-strong-text-transform: none;
$body-m-emphasis-strong-margin-top: 0px;
$body-m-emphasis-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-m-emphasis-strong-text-size: $dimension-global-font-size-200;
$body-m-emphasis-strong-margin-bottom: $dimension-global-size-150;
$body-m-strong-text-color: $color-alias-text;
$body-m-strong-text-font-family: $font-global-family-base;
$body-m-strong-text-font-style: $font-global-style-regular;
$body-m-strong-text-font-weight: $font-global-weight-bold;
$body-m-strong-text-line-height: $font-global-line-height-medium;
$body-m-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-m-strong-text-transform: none;
$body-m-strong-margin-top: 0px;
$body-m-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-m-strong-text-size: $dimension-global-font-size-200;
$body-m-strong-margin-bottom: $dimension-global-size-150;
$body-s-text-color: $color-alias-text;
$body-s-text-font-family: $font-global-family-base;
$body-s-text-font-style: $font-global-style-regular;
$body-s-text-font-weight: $font-global-weight-regular;
$body-s-text-line-height: $font-global-line-height-medium;
$body-s-text-letter-spacing: $font-global-letter-spacing-none;
$body-s-text-transform: none;
$body-s-margin-top: 0px;
$body-s-margin-bottom-multiplier: $dimension-global-size-100;
$body-s-text-size: $font-size-base;
$body-s-margin-bottom: $dimension-global-size-125;
$body-s-emphasis-text-color: $color-alias-text;
$body-s-emphasis-text-font-family: $font-global-family-base;
$body-s-emphasis-text-font-style: $font-global-style-italic;
$body-s-emphasis-text-font-weight: $font-global-weight-regular;
$body-s-emphasis-text-line-height: $font-global-line-height-medium;
$body-s-emphasis-text-letter-spacing: $font-global-letter-spacing-none;
$body-s-emphasis-text-transform: none;
$body-s-emphasis-margin-top: 0px;
$body-s-emphasis-margin-bottom-multiplier: $dimension-global-size-100;
$body-s-emphasis-text-size: $font-size-base;
$body-s-emphasis-margin-bottom: $dimension-global-size-125;
$body-s-emphasis-strong-text-color: $color-alias-text;
$body-s-emphasis-strong-text-font-family: $font-global-family-base;
$body-s-emphasis-strong-text-font-style: $font-global-style-italic;
$body-s-emphasis-strong-text-font-weight: $font-global-weight-bold;
$body-s-emphasis-strong-text-line-height: $font-global-line-height-medium;
$body-s-emphasis-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-s-emphasis-strong-text-transform: none;
$body-s-emphasis-strong-margin-top: 0px;
$body-s-emphasis-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-s-emphasis-strong-text-size: $font-size-base;
$body-s-emphasis-strong-margin-bottom: $dimension-global-size-125;
$body-s-strong-text-color: $color-alias-text;
$body-s-strong-text-font-family: $font-global-family-base;
$body-s-strong-text-font-style: $font-global-style-regular;
$body-s-strong-text-font-weight: $font-global-weight-bold;
$body-s-strong-text-line-height: $font-global-line-height-medium;
$body-s-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-s-strong-text-transform: none;
$body-s-strong-margin-top: 0px;
$body-s-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-s-strong-text-size: $font-size-base;
$body-s-strong-margin-bottom: $dimension-global-size-125;
$body-xl-text-color: $color-alias-text;
$body-xl-text-font-family: $font-global-family-base;
$body-xl-text-font-style: $font-global-style-regular;
$body-xl-text-font-weight: $font-global-weight-regular;
$body-xl-text-line-height: $font-global-line-height-medium;
$body-xl-text-letter-spacing: $font-global-letter-spacing-none;
$body-xl-text-transform: none;
$body-xl-margin-top: 0px;
$body-xl-margin-bottom-multiplier: $dimension-global-size-100;
$body-xl-text-size: $dimension-global-font-size-400;
$body-xl-margin-bottom: $dimension-global-size-200;
$body-xl-emphasis-text-color: $color-alias-text;
$body-xl-emphasis-text-font-family: $font-global-family-base;
$body-xl-emphasis-text-font-style: $font-global-style-italic;
$body-xl-emphasis-text-font-weight: $font-global-weight-regular;
$body-xl-emphasis-text-line-height: $font-global-line-height-medium;
$body-xl-emphasis-text-letter-spacing: $font-global-letter-spacing-none;
$body-xl-emphasis-text-transform: none;
$body-xl-emphasis-margin-top: 0px;
$body-xl-emphasis-margin-bottom-multiplier: $dimension-global-size-100;
$body-xl-emphasis-text-size: $dimension-global-font-size-400;
$body-xl-emphasis-margin-bottom: $dimension-global-size-200;
$body-xl-emphasis-strong-text-color: $color-alias-text;
$body-xl-emphasis-strong-text-font-family: $font-global-family-base;
$body-xl-emphasis-strong-text-font-style: $font-global-style-italic;
$body-xl-emphasis-strong-text-font-weight: $font-global-weight-bold;
$body-xl-emphasis-strong-text-line-height: $font-global-line-height-medium;
$body-xl-emphasis-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-xl-emphasis-strong-text-transform: none;
$body-xl-emphasis-strong-margin-top: 0px;
$body-xl-emphasis-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-xl-emphasis-strong-text-size: $dimension-global-font-size-400;
$body-xl-emphasis-strong-margin-bottom: $dimension-global-size-200;
$body-xl-strong-text-color: $color-alias-text;
$body-xl-strong-text-font-family: $font-global-family-base;
$body-xl-strong-text-font-style: $font-global-style-regular;
$body-xl-strong-text-font-weight: $font-global-weight-bold;
$body-xl-strong-text-line-height: $font-global-line-height-medium;
$body-xl-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-xl-strong-text-transform: none;
$body-xl-strong-margin-top: 0px;
$body-xl-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-xl-strong-text-size: $dimension-global-font-size-400;
$body-xl-strong-margin-bottom: $dimension-global-size-200;
$body-xs-text-color: $color-alias-text;
$body-xs-text-font-family: $font-global-family-base;
$body-xs-text-font-style: $font-global-style-regular;
$body-xs-text-font-weight: $font-global-weight-regular;
$body-xs-text-line-height: $font-global-line-height-medium;
$body-xs-text-letter-spacing: $font-global-letter-spacing-none;
$body-xs-text-transform: none;
$body-xs-margin-top: 0px;
$body-xs-margin-bottom-multiplier: $dimension-global-size-100;
$body-xs-text-size: $dimension-global-font-size-75;
$body-xs-margin-bottom: $dimension-global-size-115;
$body-xs-emphasis-text-color: $color-alias-text;
$body-xs-emphasis-text-font-family: $font-global-family-base;
$body-xs-emphasis-text-font-style: $font-global-style-italic;
$body-xs-emphasis-text-font-weight: $font-global-weight-regular;
$body-xs-emphasis-text-line-height: $font-global-line-height-medium;
$body-xs-emphasis-text-letter-spacing: $font-global-letter-spacing-none;
$body-xs-emphasis-text-transform: none;
$body-xs-emphasis-margin-top: 0px;
$body-xs-emphasis-margin-bottom-multiplier: $dimension-global-size-100;
$body-xs-emphasis-text-size: $dimension-global-font-size-75;
$body-xs-emphasis-margin-bottom: $dimension-global-size-115;
$body-xs-emphasis-strong-text-color: $color-alias-text;
$body-xs-emphasis-strong-text-font-family: $font-global-family-base;
$body-xs-emphasis-strong-text-font-style: $font-global-style-italic;
$body-xs-emphasis-strong-text-font-weight: $font-global-weight-bold;
$body-xs-emphasis-strong-text-line-height: $font-global-line-height-medium;
$body-xs-emphasis-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-xs-emphasis-strong-text-transform: none;
$body-xs-emphasis-strong-margin-top: 0px;
$body-xs-emphasis-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-xs-emphasis-strong-text-size: $dimension-global-font-size-75;
$body-xs-emphasis-strong-margin-bottom: $dimension-global-size-115;
$body-xs-strong-text-color: $color-alias-text;
$body-xs-strong-text-font-family: $font-global-family-base;
$body-xs-strong-text-font-style: $font-global-style-regular;
$body-xs-strong-text-font-weight: $font-global-weight-bold;
$body-xs-strong-text-line-height: $font-global-line-height-medium;
$body-xs-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-xs-strong-text-transform: none;
$body-xs-strong-margin-top: 0px;
$body-xs-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-xs-strong-text-size: $dimension-global-font-size-75;
$body-xs-strong-margin-bottom: $dimension-global-size-115;
$body-xxl-text-color: $color-alias-text;
$body-xxl-text-font-family: $font-global-family-base;
$body-xxl-text-font-style: $font-global-style-regular;
$body-xxl-text-font-weight: $font-global-weight-regular;
$body-xxl-text-line-height: $font-global-line-height-medium;
$body-xxl-text-letter-spacing: $font-global-letter-spacing-none;
$body-xxl-text-transform: none;
$body-xxl-margin-top: 0px;
$body-xxl-margin-bottom-multiplier: $dimension-global-size-100;
$body-xxl-text-size: $dimension-global-font-size-500;
$body-xxl-margin-bottom: $dimension-global-size-300;
$body-xxl-emphasis-text-color: $color-alias-text;
$body-xxl-emphasis-text-font-family: $font-global-family-base;
$body-xxl-emphasis-text-font-style: $font-global-style-italic;
$body-xxl-emphasis-text-font-weight: $font-global-weight-regular;
$body-xxl-emphasis-text-line-height: $font-global-line-height-medium;
$body-xxl-emphasis-text-letter-spacing: $font-global-letter-spacing-none;
$body-xxl-emphasis-text-transform: none;
$body-xxl-emphasis-margin-top: 0px;
$body-xxl-emphasis-margin-bottom-multiplier: $dimension-global-size-100;
$body-xxl-emphasis-text-size: $dimension-global-font-size-500;
$body-xxl-emphasis-margin-bottom: $dimension-global-size-300;
$body-xxl-emphasis-strong-text-color: $color-alias-text;
$body-xxl-emphasis-strong-text-font-family: $font-global-family-base;
$body-xxl-emphasis-strong-text-font-style: $font-global-style-italic;
$body-xxl-emphasis-strong-text-font-weight: $font-global-weight-bold;
$body-xxl-emphasis-strong-text-line-height: $font-global-line-height-medium;
$body-xxl-emphasis-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-xxl-emphasis-strong-text-transform: none;
$body-xxl-emphasis-strong-margin-top: 0px;
$body-xxl-emphasis-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-xxl-emphasis-strong-text-size: $dimension-global-font-size-500;
$body-xxl-emphasis-strong-margin-bottom: $dimension-global-size-300;
$body-xxl-strong-text-color: $color-alias-text;
$body-xxl-strong-text-font-family: $font-global-family-base;
$body-xxl-strong-text-font-style: $font-global-style-regular;
$body-xxl-strong-text-font-weight: $font-global-weight-bold;
$body-xxl-strong-text-line-height: $font-global-line-height-medium;
$body-xxl-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-xxl-strong-text-transform: none;
$body-xxl-strong-margin-top: 0px;
$body-xxl-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-xxl-strong-text-size: $dimension-global-font-size-500;
$body-xxl-strong-margin-bottom: $dimension-global-size-300;
$body-xxxl-text-color: $color-alias-text;
$body-xxxl-text-font-family: $font-global-family-base;
$body-xxxl-text-font-style: $font-global-style-regular;
$body-xxxl-text-font-weight: $font-global-weight-regular;
$body-xxxl-text-line-height: $font-global-line-height-medium;
$body-xxxl-text-letter-spacing: $font-global-letter-spacing-none;
$body-xxxl-text-transform: none;
$body-xxxl-margin-top: 0px;
$body-xxxl-margin-bottom-multiplier: $dimension-global-size-100;
$body-xxxl-text-size: $dimension-global-font-size-600;
$body-xxxl-margin-bottom: $dimension-global-size-400;
$body-xxxl-emphasis-text-color: $color-alias-text;
$body-xxxl-emphasis-text-font-family: $font-global-family-base;
$body-xxxl-emphasis-text-font-style: $font-global-style-italic;
$body-xxxl-emphasis-text-font-weight: $font-global-weight-regular;
$body-xxxl-emphasis-text-line-height: $font-global-line-height-medium;
$body-xxxl-emphasis-text-letter-spacing: $font-global-letter-spacing-none;
$body-xxxl-emphasis-text-transform: none;
$body-xxxl-emphasis-margin-top: 0px;
$body-xxxl-emphasis-margin-bottom-multiplier: $dimension-global-size-100;
$body-xxxl-emphasis-text-size: $dimension-global-font-size-600;
$body-xxxl-emphasis-margin-bottom: $dimension-global-size-400;
$body-xxxl-emphasis-strong-text-color: $color-alias-text;
$body-xxxl-emphasis-strong-text-font-family: $font-global-family-base;
$body-xxxl-emphasis-strong-text-font-style: $font-global-style-italic;
$body-xxxl-emphasis-strong-text-font-weight: $font-global-weight-bold;
$body-xxxl-emphasis-strong-text-line-height: $font-global-line-height-medium;
$body-xxxl-emphasis-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-xxxl-emphasis-strong-text-transform: none;
$body-xxxl-emphasis-strong-margin-top: 0px;
$body-xxxl-emphasis-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-xxxl-emphasis-strong-text-size: $dimension-global-font-size-600;
$body-xxxl-emphasis-strong-margin-bottom: $dimension-global-size-400;
$body-xxxl-strong-text-color: $color-alias-text;
$body-xxxl-strong-text-font-family: $font-global-family-base;
$body-xxxl-strong-text-font-style: $font-global-style-regular;
$body-xxxl-strong-text-font-weight: $font-global-weight-bold;
$body-xxxl-strong-text-line-height: $font-global-line-height-medium;
$body-xxxl-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-xxxl-strong-text-transform: none;
$body-xxxl-strong-margin-top: 0px;
$body-xxxl-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-xxxl-strong-text-size: $dimension-global-font-size-600;
$body-xxxl-strong-margin-bottom: $dimension-global-size-400;
$body-serif-l-text-color: $color-alias-text;
$body-serif-l-text-font-family: $font-global-family-serif;
$body-serif-l-text-font-style: $font-global-style-regular;
$body-serif-l-text-font-weight: $font-global-weight-regular;
$body-serif-l-text-line-height: $font-global-line-height-medium;
$body-serif-l-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-l-text-transform: none;
$body-serif-l-margin-top: 0px;
$body-serif-l-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-l-text-size: $dimension-global-font-size-300;
$body-serif-l-margin-bottom: $dimension-global-size-160;
$body-serif-l-emphasis-text-color: $color-alias-text;
$body-serif-l-emphasis-text-font-family: $font-global-family-serif;
$body-serif-l-emphasis-text-font-style: $font-global-style-italic;
$body-serif-l-emphasis-text-font-weight: $font-global-weight-regular;
$body-serif-l-emphasis-text-line-height: $font-global-line-height-medium;
$body-serif-l-emphasis-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-l-emphasis-text-transform: none;
$body-serif-l-emphasis-margin-top: 0px;
$body-serif-l-emphasis-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-l-emphasis-text-size: $dimension-global-font-size-300;
$body-serif-l-emphasis-margin-bottom: $dimension-global-size-160;
$body-serif-l-emphasis-strong-text-color: $color-alias-text;
$body-serif-l-emphasis-strong-text-font-family: $font-global-family-serif;
$body-serif-l-emphasis-strong-text-font-style: $font-global-style-italic;
$body-serif-l-emphasis-strong-text-font-weight: $font-global-weight-bold;
$body-serif-l-emphasis-strong-text-line-height: $font-global-line-height-medium;
$body-serif-l-emphasis-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-l-emphasis-strong-text-transform: none;
$body-serif-l-emphasis-strong-margin-top: 0px;
$body-serif-l-emphasis-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-l-emphasis-strong-text-size: $dimension-global-font-size-300;
$body-serif-l-emphasis-strong-margin-bottom: $dimension-global-size-160;
$body-serif-l-strong-text-color: $color-alias-text;
$body-serif-l-strong-text-font-family: $font-global-family-serif;
$body-serif-l-strong-text-font-style: $font-global-style-regular;
$body-serif-l-strong-text-font-weight: $font-global-weight-bold;
$body-serif-l-strong-text-line-height: $font-global-line-height-medium;
$body-serif-l-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-l-strong-text-transform: none;
$body-serif-l-strong-margin-top: 0px;
$body-serif-l-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-l-strong-text-size: $dimension-global-font-size-300;
$body-serif-l-strong-margin-bottom: $dimension-global-size-160;
$body-serif-m-text-color: $color-alias-text;
$body-serif-m-text-font-family: $font-global-family-serif;
$body-serif-m-text-font-style: $font-global-style-regular;
$body-serif-m-text-font-weight: $font-global-weight-regular;
$body-serif-m-text-line-height: $font-global-line-height-medium;
$body-serif-m-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-m-text-transform: none;
$body-serif-m-margin-top: 0px;
$body-serif-m-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-m-text-size: $dimension-global-font-size-200;
$body-serif-m-margin-bottom: $dimension-global-size-150;
$body-serif-m-emphasis-text-color: $color-alias-text;
$body-serif-m-emphasis-text-font-family: $font-global-family-serif;
$body-serif-m-emphasis-text-font-style: $font-global-style-italic;
$body-serif-m-emphasis-text-font-weight: $font-global-weight-regular;
$body-serif-m-emphasis-text-line-height: $font-global-line-height-medium;
$body-serif-m-emphasis-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-m-emphasis-text-transform: none;
$body-serif-m-emphasis-margin-top: 0px;
$body-serif-m-emphasis-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-m-emphasis-text-size: $dimension-global-font-size-200;
$body-serif-m-emphasis-margin-bottom: $dimension-global-size-150;
$body-serif-m-emphasis-strong-text-color: $color-alias-text;
$body-serif-m-emphasis-strong-text-font-family: $font-global-family-serif;
$body-serif-m-emphasis-strong-text-font-style: $font-global-style-italic;
$body-serif-m-emphasis-strong-text-font-weight: $font-global-weight-bold;
$body-serif-m-emphasis-strong-text-line-height: $font-global-line-height-medium;
$body-serif-m-emphasis-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-m-emphasis-strong-text-transform: none;
$body-serif-m-emphasis-strong-margin-top: 0px;
$body-serif-m-emphasis-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-m-emphasis-strong-text-size: $dimension-global-font-size-200;
$body-serif-m-emphasis-strong-margin-bottom: $dimension-global-size-150;
$body-serif-m-strong-text-color: $color-alias-text;
$body-serif-m-strong-text-font-family: $font-global-family-serif;
$body-serif-m-strong-text-font-style: $font-global-style-regular;
$body-serif-m-strong-text-font-weight: $font-global-weight-bold;
$body-serif-m-strong-text-line-height: $font-global-line-height-medium;
$body-serif-m-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-m-strong-text-transform: none;
$body-serif-m-strong-margin-top: 0px;
$body-serif-m-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-m-strong-text-size: $dimension-global-font-size-200;
$body-serif-m-strong-margin-bottom: $dimension-global-size-150;
$body-serif-s-text-color: $color-alias-text;
$body-serif-s-text-font-family: $font-global-family-serif;
$body-serif-s-text-font-style: $font-global-style-regular;
$body-serif-s-text-font-weight: $font-global-weight-regular;
$body-serif-s-text-line-height: $font-global-line-height-medium;
$body-serif-s-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-s-text-transform: none;
$body-serif-s-margin-top: 0px;
$body-serif-s-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-s-text-size: $font-size-base;
$body-serif-s-margin-bottom: $dimension-global-size-125;
$body-serif-s-emphasis-text-color: $color-alias-text;
$body-serif-s-emphasis-text-font-family: $font-global-family-serif;
$body-serif-s-emphasis-text-font-style: $font-global-style-italic;
$body-serif-s-emphasis-text-font-weight: $font-global-weight-regular;
$body-serif-s-emphasis-text-line-height: $font-global-line-height-medium;
$body-serif-s-emphasis-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-s-emphasis-text-transform: none;
$body-serif-s-emphasis-margin-top: 0px;
$body-serif-s-emphasis-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-s-emphasis-text-size: $font-size-base;
$body-serif-s-emphasis-margin-bottom: $dimension-global-size-125;
$body-serif-s-emphasis-strong-text-color: $color-alias-text;
$body-serif-s-emphasis-strong-text-font-family: $font-global-family-serif;
$body-serif-s-emphasis-strong-text-font-style: $font-global-style-italic;
$body-serif-s-emphasis-strong-text-font-weight: $font-global-weight-bold;
$body-serif-s-emphasis-strong-text-line-height: $font-global-line-height-medium;
$body-serif-s-emphasis-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-s-emphasis-strong-text-transform: none;
$body-serif-s-emphasis-strong-margin-top: 0px;
$body-serif-s-emphasis-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-s-emphasis-strong-text-size: $font-size-base;
$body-serif-s-emphasis-strong-margin-bottom: $dimension-global-size-125;
$body-serif-s-strong-text-color: $color-alias-text;
$body-serif-s-strong-text-font-family: $font-global-family-serif;
$body-serif-s-strong-text-font-style: $font-global-style-regular;
$body-serif-s-strong-text-font-weight: $font-global-weight-bold;
$body-serif-s-strong-text-line-height: $font-global-line-height-medium;
$body-serif-s-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-s-strong-text-transform: none;
$body-serif-s-strong-margin-top: 0px;
$body-serif-s-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-s-strong-text-size: $font-size-base;
$body-serif-s-strong-margin-bottom: $dimension-global-size-125;
$body-serif-xl-text-color: $color-alias-text;
$body-serif-xl-text-font-family: $font-global-family-serif;
$body-serif-xl-text-font-style: $font-global-style-regular;
$body-serif-xl-text-font-weight: $font-global-weight-regular;
$body-serif-xl-text-line-height: $font-global-line-height-medium;
$body-serif-xl-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xl-text-transform: none;
$body-serif-xl-margin-top: 0px;
$body-serif-xl-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xl-text-size: $dimension-global-font-size-400;
$body-serif-xl-margin-bottom: $dimension-global-size-200;
$body-serif-xl-emphasis-text-color: $color-alias-text;
$body-serif-xl-emphasis-text-font-family: $font-global-family-serif;
$body-serif-xl-emphasis-text-font-style: $font-global-style-italic;
$body-serif-xl-emphasis-text-font-weight: $font-global-weight-regular;
$body-serif-xl-emphasis-text-line-height: $font-global-line-height-medium;
$body-serif-xl-emphasis-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xl-emphasis-text-transform: none;
$body-serif-xl-emphasis-margin-top: 0px;
$body-serif-xl-emphasis-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xl-emphasis-text-size: $dimension-global-font-size-400;
$body-serif-xl-emphasis-margin-bottom: $dimension-global-size-200;
$body-serif-xl-emphasis-strong-text-color: $color-alias-text;
$body-serif-xl-emphasis-strong-text-font-family: $font-global-family-serif;
$body-serif-xl-emphasis-strong-text-font-style: $font-global-style-italic;
$body-serif-xl-emphasis-strong-text-font-weight: $font-global-weight-bold;
$body-serif-xl-emphasis-strong-text-line-height: $font-global-line-height-medium;
$body-serif-xl-emphasis-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xl-emphasis-strong-text-transform: none;
$body-serif-xl-emphasis-strong-margin-top: 0px;
$body-serif-xl-emphasis-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xl-emphasis-strong-text-size: $dimension-global-font-size-400;
$body-serif-xl-emphasis-strong-margin-bottom: $dimension-global-size-200;
$body-serif-xl-strong-text-color: $color-alias-text;
$body-serif-xl-strong-text-font-family: $font-global-family-serif;
$body-serif-xl-strong-text-font-style: $font-global-style-regular;
$body-serif-xl-strong-text-font-weight: $font-global-weight-bold;
$body-serif-xl-strong-text-line-height: $font-global-line-height-medium;
$body-serif-xl-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xl-strong-text-transform: none;
$body-serif-xl-strong-margin-top: 0px;
$body-serif-xl-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xl-strong-text-size: $dimension-global-font-size-400;
$body-serif-xl-strong-margin-bottom: $dimension-global-size-200;
$body-serif-xs-text-color: $color-alias-text;
$body-serif-xs-text-font-family: $font-global-family-serif;
$body-serif-xs-text-font-style: $font-global-style-regular;
$body-serif-xs-text-font-weight: $font-global-weight-regular;
$body-serif-xs-text-line-height: $font-global-line-height-medium;
$body-serif-xs-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xs-text-transform: none;
$body-serif-xs-margin-top: 0px;
$body-serif-xs-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xs-text-size: $dimension-global-font-size-75;
$body-serif-xs-margin-bottom: $dimension-global-size-115;
$body-serif-xs-emphasis-text-color: $color-alias-text;
$body-serif-xs-emphasis-text-font-family: $font-global-family-serif;
$body-serif-xs-emphasis-text-font-style: $font-global-style-italic;
$body-serif-xs-emphasis-text-font-weight: $font-global-weight-regular;
$body-serif-xs-emphasis-text-line-height: $font-global-line-height-medium;
$body-serif-xs-emphasis-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xs-emphasis-text-transform: none;
$body-serif-xs-emphasis-margin-top: 0px;
$body-serif-xs-emphasis-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xs-emphasis-text-size: $dimension-global-font-size-75;
$body-serif-xs-emphasis-margin-bottom: $dimension-global-size-115;
$body-serif-xs-emphasis-strong-text-color: $color-alias-text;
$body-serif-xs-emphasis-strong-text-font-family: $font-global-family-serif;
$body-serif-xs-emphasis-strong-text-font-style: $font-global-style-italic;
$body-serif-xs-emphasis-strong-text-font-weight: $font-global-weight-bold;
$body-serif-xs-emphasis-strong-text-line-height: $font-global-line-height-medium;
$body-serif-xs-emphasis-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xs-emphasis-strong-text-transform: none;
$body-serif-xs-emphasis-strong-margin-top: 0px;
$body-serif-xs-emphasis-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xs-emphasis-strong-text-size: $dimension-global-font-size-75;
$body-serif-xs-emphasis-strong-margin-bottom: $dimension-global-size-115;
$body-serif-xs-strong-text-color: $color-alias-text;
$body-serif-xs-strong-text-font-family: $font-global-family-serif;
$body-serif-xs-strong-text-font-style: $font-global-style-regular;
$body-serif-xs-strong-text-font-weight: $font-global-weight-bold;
$body-serif-xs-strong-text-line-height: $font-global-line-height-medium;
$body-serif-xs-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xs-strong-text-transform: none;
$body-serif-xs-strong-margin-top: 0px;
$body-serif-xs-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xs-strong-text-size: $dimension-global-font-size-75;
$body-serif-xs-strong-margin-bottom: $dimension-global-size-115;
$body-serif-xxl-text-color: $color-alias-text;
$body-serif-xxl-text-font-family: $font-global-family-serif;
$body-serif-xxl-text-font-style: $font-global-style-regular;
$body-serif-xxl-text-font-weight: $font-global-weight-regular;
$body-serif-xxl-text-line-height: $font-global-line-height-medium;
$body-serif-xxl-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xxl-text-transform: none;
$body-serif-xxl-margin-top: 0px;
$body-serif-xxl-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xxl-text-size: $dimension-global-font-size-500;
$body-serif-xxl-margin-bottom: $dimension-global-size-300;
$body-serif-xxl-emphasis-text-color: $color-alias-text;
$body-serif-xxl-emphasis-text-font-family: $font-global-family-serif;
$body-serif-xxl-emphasis-text-font-style: $font-global-style-italic;
$body-serif-xxl-emphasis-text-font-weight: $font-global-weight-regular;
$body-serif-xxl-emphasis-text-line-height: $font-global-line-height-medium;
$body-serif-xxl-emphasis-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xxl-emphasis-text-transform: none;
$body-serif-xxl-emphasis-margin-top: 0px;
$body-serif-xxl-emphasis-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xxl-emphasis-text-size: $dimension-global-font-size-500;
$body-serif-xxl-emphasis-margin-bottom: $dimension-global-size-300;
$body-serif-xxl-emphasis-strong-text-color: $color-alias-text;
$body-serif-xxl-emphasis-strong-text-font-family: $font-global-family-serif;
$body-serif-xxl-emphasis-strong-text-font-style: $font-global-style-italic;
$body-serif-xxl-emphasis-strong-text-font-weight: $font-global-weight-bold;
$body-serif-xxl-emphasis-strong-text-line-height: $font-global-line-height-medium;
$body-serif-xxl-emphasis-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xxl-emphasis-strong-text-transform: none;
$body-serif-xxl-emphasis-strong-margin-top: 0px;
$body-serif-xxl-emphasis-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xxl-emphasis-strong-text-size: $dimension-global-font-size-500;
$body-serif-xxl-emphasis-strong-margin-bottom: $dimension-global-size-300;
$body-serif-xxl-strong-text-color: $color-alias-text;
$body-serif-xxl-strong-text-font-family: $font-global-family-serif;
$body-serif-xxl-strong-text-font-style: $font-global-style-regular;
$body-serif-xxl-strong-text-font-weight: $font-global-weight-bold;
$body-serif-xxl-strong-text-line-height: $font-global-line-height-medium;
$body-serif-xxl-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xxl-strong-text-transform: none;
$body-serif-xxl-strong-margin-top: 0px;
$body-serif-xxl-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xxl-strong-text-size: $dimension-global-font-size-500;
$body-serif-xxl-strong-margin-bottom: $dimension-global-size-300;
$body-serif-xxxl-text-color: $color-alias-text;
$body-serif-xxxl-text-font-family: $font-global-family-serif;
$body-serif-xxxl-text-font-style: $font-global-style-regular;
$body-serif-xxxl-text-font-weight: $font-global-weight-regular;
$body-serif-xxxl-text-line-height: $font-global-line-height-medium;
$body-serif-xxxl-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xxxl-text-transform: none;
$body-serif-xxxl-margin-top: 0px;
$body-serif-xxxl-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xxxl-text-size: $dimension-global-font-size-600;
$body-serif-xxxl-margin-bottom: $dimension-global-size-400;
$body-serif-xxxl-emphasis-text-color: $color-alias-text;
$body-serif-xxxl-emphasis-text-font-family: $font-global-family-serif;
$body-serif-xxxl-emphasis-text-font-style: $font-global-style-italic;
$body-serif-xxxl-emphasis-text-font-weight: $font-global-weight-regular;
$body-serif-xxxl-emphasis-text-line-height: $font-global-line-height-medium;
$body-serif-xxxl-emphasis-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xxxl-emphasis-text-transform: none;
$body-serif-xxxl-emphasis-margin-top: 0px;
$body-serif-xxxl-emphasis-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xxxl-emphasis-text-size: $dimension-global-font-size-600;
$body-serif-xxxl-emphasis-margin-bottom: $dimension-global-size-400;
$body-serif-xxxl-emphasis-strong-text-color: $color-alias-text;
$body-serif-xxxl-emphasis-strong-text-font-family: $font-global-family-serif;
$body-serif-xxxl-emphasis-strong-text-font-style: $font-global-style-italic;
$body-serif-xxxl-emphasis-strong-text-font-weight: $font-global-weight-bold;
$body-serif-xxxl-emphasis-strong-text-line-height: $font-global-line-height-medium;
$body-serif-xxxl-emphasis-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xxxl-emphasis-strong-text-transform: none;
$body-serif-xxxl-emphasis-strong-margin-top: 0px;
$body-serif-xxxl-emphasis-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xxxl-emphasis-strong-text-size: $dimension-global-font-size-600;
$body-serif-xxxl-emphasis-strong-margin-bottom: $dimension-global-size-400;
$body-serif-xxxl-strong-text-color: $color-alias-text;
$body-serif-xxxl-strong-text-font-family: $font-global-family-serif;
$body-serif-xxxl-strong-text-font-style: $font-global-style-regular;
$body-serif-xxxl-strong-text-font-weight: $font-global-weight-bold;
$body-serif-xxxl-strong-text-line-height: $font-global-line-height-medium;
$body-serif-xxxl-strong-text-letter-spacing: $font-global-letter-spacing-none;
$body-serif-xxxl-strong-text-transform: none;
$body-serif-xxxl-strong-margin-top: 0px;
$body-serif-xxxl-strong-margin-bottom-multiplier: $dimension-global-size-100;
$body-serif-xxxl-strong-text-size: $dimension-global-font-size-600;
$body-serif-xxxl-strong-margin-bottom: $dimension-global-size-400;

