$font-global-family-base: adobe-clean, 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Trebuchet MS', 'Lucida Grande', sans-serif;
$font-global-family-serif: adobe-clean-serif, 'Source Serif Pro', Georgia, serif;
$font-global-family-code: 'Source Code Pro', Monaco, monospace;
$font-global-weight-thin: 100;
$font-global-weight-ultra-light: 200;
$font-global-weight-light: 300;
$font-global-weight-regular: 400;
$font-global-weight-medium: 500;
$font-global-weight-semi-bold: 600;
$font-global-weight-bold: 700;
$font-global-weight-extra-bold: 800;
$font-global-weight-black: 900;
$font-global-style-regular: normal;
$font-global-style-italic: italic;
$font-global-letter-spacing-none: 0;
$font-global-letter-spacing-small: 0.0125em;
$font-global-letter-spacing-medium: 0.06em;
$font-global-line-height-large: 1.7;
$font-global-line-height-medium: 1.5;
$font-global-line-height-small: 1.3;
$font-global-multiplier-25: 0.25em;
$font-global-multiplier-75: 0.75em;

