

  $color-global-celery-400: rgb(68, 181, 86);
  $color-global-celery-500: rgb(61, 167, 78);
  $color-global-celery-600: rgb(55, 153, 71);
  $color-global-celery-700: rgb(49, 139, 64);
  $color-global-chartreuse-400: rgb(133, 208, 68);
  $color-global-chartreuse-500: rgb(124, 195, 63);
  $color-global-chartreuse-600: rgb(115, 181, 58);
  $color-global-chartreuse-700: rgb(106, 168, 52);
  $color-global-yellow-400: rgb(223, 191, 0);
  $color-global-yellow-500: rgb(210, 178, 0);
  $color-global-yellow-600: rgb(196, 166, 0);
  $color-global-yellow-700: rgb(183, 153, 0);
  $color-global-magenta-400: rgb(216, 55, 144);
  $color-global-magenta-500: rgb(206, 39, 131);
  $color-global-magenta-600: rgb(188, 28, 116);
  $color-global-magenta-700: rgb(174, 14, 102);
  $color-global-fuchsia-400: rgb(192, 56, 204);
  $color-global-fuchsia-500: rgb(177, 48, 189);
  $color-global-fuchsia-600: rgb(162, 40, 173);
  $color-global-fuchsia-700: rgb(147, 33, 158);
  $color-global-purple-400: rgb(146, 86, 217);
  $color-global-purple-500: rgb(134, 76, 204);
  $color-global-purple-600: rgb(122, 66, 191);
  $color-global-purple-700: rgb(111, 56, 177);
  $color-global-indigo-400: rgb(103, 103, 236);
  $color-global-indigo-500: rgb(92, 92, 224);
  $color-global-indigo-600: rgb(81, 81, 211);
  $color-global-indigo-700: rgb(70, 70, 198);
  $color-global-seafoam-400: rgb(27, 149, 154);
  $color-global-seafoam-500: rgb(22, 135, 140);
  $color-global-seafoam-600: rgb(15, 121, 125);
  $color-global-seafoam-700: rgb(9, 108, 111);
  $color-global-red-400: rgb(227, 72, 80);
  $color-global-red-500: rgb(215, 55, 63);
  $color-global-red-600: rgb(201, 37, 45);
  $color-global-red-700: rgb(187, 18, 26);
  $color-global-orange-400: rgb(230, 134, 25);
  $color-global-orange-500: rgb(218, 123, 17);
  $color-global-orange-600: rgb(203, 111, 16);
  $color-global-orange-700: rgb(189, 100, 13);
  $color-global-green-400: rgb(45, 157, 120);
  $color-global-green-500: rgb(38, 142, 108);
  $color-global-green-600: rgb(18, 128, 92);
  $color-global-green-700: rgb(16, 113, 84);
  $color-global-blue-400: rgb(38, 128, 235);
  $color-global-blue-500: rgb(20, 115, 230);
  $color-global-blue-600: rgb(13, 102, 208);
  $color-global-blue-700: rgb(9, 90, 186);
  $color-global-gray-50: rgb(255, 255, 255);
  $color-global-gray-75: rgb(250, 250, 250);
  $color-global-gray-100: rgb(245, 245, 245);
  $color-global-gray-200: rgb(234, 234, 234);
  $color-global-gray-300: rgb(225, 225, 225);
  $color-global-gray-400: rgb(202, 202, 202);
  $color-global-gray-500: rgb(179, 179, 179);
  $color-global-gray-600: rgb(142, 142, 142);
  $color-global-gray-700: rgb(110, 110, 110);
  $color-global-gray-800: rgb(75, 75, 75);
  $color-global-gray-900: rgb(44, 44, 44);
  $color-alias-background-primary: $color-global-gray-50;
  $color-alias-background-secondary: $color-global-gray-100;
  $color-alias-background-tertiary: $color-global-gray-300;
  $color-alias-background-modal-overlay: rgba(0,0,0,0.4);
  $color-alias-dropshadow: rgba(0,0,0,0.15);
  $color-alias-background-hover-overlay: rgba(44,44,44,0.04);
  $color-alias-highlight-hover: rgba(44,44,44,0.06);
  $color-alias-highlight-active: rgba(44,44,44,0.1);
  $color-alias-highlight-selected: rgba(20,115,230,0.1);
  $color-alias-highlight-selected-hover: rgba(20,115,230,0.2);
  $color-alias-text-highlight: rgba(20,115,230,0.2);
  $color-alias-background-quickactions: rgba(245,245,245,0.9);
  $color-alias-border-selected: $color-global-blue-500;
  $color-alias-radial-reaction-default: rgba(75,75,75,0.6);
  $color-alias-pasteboard-background: $color-global-gray-300;
  $color-alias-appframe-border: $color-global-gray-300;
  $color-alias-appframe-separator: $color-global-gray-300;
  $colorarea-border: rgba(44,44,44,0.1);
  $colorarea-border-hover: rgba(44,44,44,0.1);
  $colorarea-border-down: rgba(44,44,44,0.1);
  $colorarea-border-key-focus: rgba(44,44,44,0.1);
  $colorslider-border: rgba(44,44,44,0.1);
  $colorslider-border-hover: rgba(44,44,44,0.1);
  $colorslider-border-down: rgba(44,44,44,0.1);
  $colorslider-border-key-focus: rgba(44,44,44,0.1);
  $colorslider-vertical-border: rgba(44,44,44,0.1);
  $colorslider-vertical-border-hover: rgba(44,44,44,0.1);
  $colorslider-vertical-border-down: rgba(44,44,44,0.1);
  $colorslider-vertical-border-key-focus: rgba(44,44,44,0.1);
  $colorwheel-border: rgba(44,44,44,0.1);
  $colorwheel-border-hover: rgba(44,44,44,0.1);
  $colorwheel-border-down: rgba(44,44,44,0.1);
  $colorwheel-border-key-focus: rgba(44,44,44,0.1);
  $color-miller-column-item-background-selected: rgba(20,115,230,0.1);
  $color-miller-column-item-background-selected-hover: rgba(20,115,230,0.2);
  $color-well-background: rgba(75,75,75,0.02);
  $color-well-border: rgba(44,44,44,0.05);

